<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.course.mapper.CourseMapper">
    <select id="findAll" resultType="com.example.course.entity.Course">
        SELECT * FROM course
    </select>
</mapper>
